<h1><a href="/">Pagina de Home</a> </h1></br>
<h2>Filtrar por categorias:</h2>
<div class="categorias">
    <h4 class="unaCategoria"><a href="/?category=golosinas">Golosinas</a></h4>
    <h4 class="unaCategoria"><a href="/?category=panificados">Panificados</a></h4>
    <h4 class="unaCategoria"><a href="/?category=snack">snacks</a></h4>
    <h4 class="unaCategoria"><a href="/">Ver Todo</a></h4>
</div>
<div style="margin-top:30px">
    <div class="ordenamiento"> 
        <h4>Ordernar por precio -></h4>
        <h4 class="unaCategoria" style="margin-right: 10px;"><a href="/?sort=1"> Ascendente </a></h4>
        <h4 class="unaCategoria"><a href="/?sort=-1"> Descendente </a></h4>
    </div>
    <div style="display:flex; margin-top:20px;">
        <h4 class="unaCategoria" ><a href="/?stock=true">Ver Productos en stock</a></h4>
    </div>
</div>
<div id="contenedorProductos" class="contenedorProductos">
    {{#each products}}
        <div class="tarjetaProducto">
            <div class="contenedorTituloYCategoriaProducto">
                <div class="tituloProducto"> {{this.tittle}}</div>
                <div class="categoriaProducto"> Categoria: {{this.category}}</div>
            </div>
            {{#if thumbnail.[1]}}
                {{#each thumbnail}}
                    <div class="contenedorFotosProducto">
                        <img src="/fotosProductos/{{this}}"/>
                    </div>
                {{/each}}
            {{else}}
                {{#if thumbnail.[0]}}
                <div class="contenedorFotosProducto">
                    <img src="/fotosProductos/{{thumbnail.[0]}}" alt="Foto Producto"/>
                </div>
                {{else}}
                    <div class="contenedorFotosProducto">
                        No hay foto
                    </div>
                {{/if}}
            {{/if}}
            <div class="contenedorPrecioProducto">{{price}}</div>
            <div class="contenedorDescripcionProducto">{{description}}</div>
            <button style="margin-left:10%; width:80%; border-radius:15px;"><a class="enlace" href="/product/{{_id}}">Ver Mas</a></button>
        </div>
    {{/each}}
    <div class="buttonsPagination">
        <div class="buttonPagination">
            {{#if hasPrevPage}}
                <button><a href="/?page={{prevPage}}">Back-Page</a></button>
            {{else}}
                <button disabled="true">Back-Page</button>
            {{/if}}
        </div>
        <div class="buttonPagination">
            {{#if hasNextPage}}
                <button><a href="/?page={{nextPage}}">Next-Page </a></button>
            {{else}}
                <button disabled="true">Next-Page</button>
            {{/if}}    
        </div>
        <div class="buttonPagination">
            <button><a href="/?page={{totalPages}}{{#if category}}&category={{category}}{{/if}}{{#if sort}}&sort={{sort}}{{/if}}">Last Page</a></button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>